.header{
  width: 100%;
  height: 80px;
  display: block;   
  background-color: #232434;
}

.inner_header{
  display: block;
  margin:0 auto;  
  color: #232434;
  width: 91.67%;
  height: 100%;
}

.logo_container{
  height: 100%;
  display: table;
  float: left;  
}

.logo_container h1{
  color: white;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.logo_container h1 span1{
  font-weight: 400;
  font-size: 24px;
  vertical-align: bottom;
  color: rgb(255, 38, 38);
}

.logo_container h1 span2{
  font-weight: 400;
  font-size: 24px;
  vertical-align: top;
  color: rgb(105, 255, 68);
}

.logo_container h1 span3{
  font-weight: 400;
  font-size: 24px;

  vertical-align: bottom;
  color: rgb(54, 74, 255);
}

.navigation{
  float: right;
   height: 100%;
}

.navigation a{
  height: 100%;
  display: table;   
  float: left;
  padding: 0 10px;
}

.navigation a li{
  display: table-cell;
  vertical-align:middle;
  height: 100%;
  color:white;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}